# Entornos virtuales y caché
__pycache__/
*.pyc
.venv/
venv/
.env

# Carpetas de Datos y formatos EEG (No subir a GitHub)
Participantes/
Carpeta 1/
Carpeta 2/
*.txt
*.csv
*.parquet
*.json
*.cnt
*.dat
*.bin

# Configuración de editores
.vscode/
.idea/